* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: left;

  box-sizing: border-box;
}

.TitleArea {
  width: 90vw;
  margin: auto;
  text-align: center;
}

.TitleArea > h1 {
  text-overflow: wrap;
  background-color: #75cfb8;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.MainArea {
  margin: auto;
  width: 90vw;
}

.MainArea {
  max-width: 90vw;
  margin: 20px auto;
}
.option-area {
  width: 90vw;
}
.option-area .tab {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid dodgerblue;
  font-weight: 600;
  margin: 5px;
  color: dodgerblue;
  border-radius: 5px;
}

.option-area .tab:hover {
  color: white;
  background-color: dodgerblue;
  text-decoration: none;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

/* new journal form style  */
.new-journal-form {
  font-style: italic;
}

.new-journal-form .form-group {
  margin: 20px;
}
.new-journal-form .form-group > label {
  margin: 20px;
}

.new-journal-form .form-group .description-input-field {
  font-style: italic;
  border: 2px solid #75cfb8;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

.new-journal-form .form-group .title-input-field {
  width: 300px;
  font-style: italic;
  border: 2px solid #75cfb8;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.new-journal-form .button-save-journal {
  height: 30px;
  width: 60px;
  border: none;
  outline: none;
  color: white;
  background: #ffc478;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
}

.new-journal-form .button-save-journal:hover {
  border: 1px solid gray;
}

/* journal list style  */
.journal-list-wrapper {
  text-align: left;
}

.journal-list-wrapper > header {
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  display: flex;
}

.journal-list-wrapper > header .subTitle {
  width: 50%;
}

.journal-list-main-area {
  display: flex;
}

.journal-list-main-area .journal-list {
  width: 50%;
  height: auto;
  background: #bbdfc8;
  border-right: 2px solid white;
  text-align: left;
  border-radius: 10px;
}
.journal-list > ul > li {
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  border-radius: 5px;
}

.journal-list > ul > li:hover {
  background-color: dodgerblue;
  transition: 0.5s ease;
  color: white;
}

.journal-list-main-area .journal-detail {
  width: 50%;
  height: auto;
  min-height: 370px;

  background: #f0e5d8;
  border-radius: 10px;
}

.journal-detail-form .form-group {
  margin-top: 20px;
}
.journal-detail-form .form-group > label {
  margin: 0px;
}

.journal-detail-form .form-group .description-input-field {
  font-style: italic;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  width: 90%;
  border: none;
  height: 200px;
}

.journal-detail-form .form-group .title-input-field {
  width: 90%;
  font-style: italic;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  border: none;
}

.journal-detail-form .button-save-journal {
  height: 30px;
  width: 60px;
  border: none;
  outline: none;
  color: white;
  background: #ffc478;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;

  margin-left: 5px;
}

.journal-detail-form .button-save-journal:hover {
  border: 1px solid gray;
}

/* login style  */
.login-form {
  font-style: italic;
}

.login-form .form-group {
  margin-top: 20px;
}
.login-form .form-group > label {
  margin: 0px;
}

.login-form .form-group .title-input-field {
  width: 90%;
  font-style: italic;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-bottom: 5px;
}

.login-form .button-save-journal {
  height: 30px;
  width: 60px;
  border: none;
  outline: none;
  color: white;
  background: #ffc478;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
}

.login-form .button-save-journal:hover {
  border: 1px solid gray;
}

.journal-smoke-bg {
  background-color: #f2f2f7;
}

.journal-item {
  background-color: #d1d1d6;
}

.login-wrapper {
  background-color: #f2f2f7;
  border-radius: 8px;
}
